<!-- <ooo-view>
  <ooo-hero [text]='text.hero' [data]='data.hero'></ooo-hero>
</ooo-view>
 -->

<!-- <ooo-view>
  <ooo-expertise [text]='text.expertise' [data]='data.expertise'></ooo-expertise>
</ooo-view>
 -->

 <!-- <ooo-view>
  {{ title.highlights }}
  nTech/nProjects/Orgs/Locations/Hobbies
  <ooo-sandwitch></ooo-sandwitch>
</ooo-view>
 -->

<!-- <ooo-view>
  {{ title.exp }}
  <ooo-short-list></ooo-short-list>
</ooo-view>
 -->

<ooo-view>
  <ooo-education [db]='db' [data]='data.educations'></ooo-education>
</ooo-view>

<!-- <ooo-footer> </ooo-footer> -->
