:host{
&.mu-mysql:before {
  content: "\e900";
}
&.mu-nodejs:before {
  content: "\e901";
}
&.mu-raspberrypi:before {
  content: "\e902";
}
&.mu-phonegap:before {
  content: "\e903";
}
&.mu-html5:before {
  content: "\e904";
}
&.mu-ruby:before {
  content: "\e905";
}
&.mu-ubuntu:before {
  content: "\e906";
}
&.mu-ror:before {
  content: "\e907";
}
&.mu-python:before {
  content: "\e908";
}
&.mu-php:before {
  content: "\e909";
}
&.mu-css3:before {
  content: "\e90a";
}
&.mu-sass:before {
  content: "\e90b";
}
&.mu-grunt:before {
  content: "\e90c";
}
&.mu-bower:before {
  content: "\e90d";
}
&.mu-coffeescript:before {
  content: "\e90e";
}
&.mu-angular:before {
  content: "\e90f";
}
&.mu-jquery:before {
  content: "\e910";
}
&.mu-jira:before {
  content: "\e911";
}
&.mu-onedrive:before {
  content: "\e912";
}
&.mu-jenkins:before {
  content: "\e913";
}
&.mu-w3c:before {
  content: "\e914";
}
&.mu-postgresql:before {
  content: "\e915";
}
&.mu-nginx:before {
  content: "\e916";
}
&.mu-yeoman:before {
  content: "\e917";
}
&.mu-travis:before {
  content: "\e918";
}
&.mu-mic:before {
  content: "\e919";
}
&.mu-term:before {
  content: "\e91a";
}
&.mu-rwd:before {
  content: "\e91b";
}
&.mu-aptana:before {
  content: "\e91c";
}
&.mu-cube:before {
  content: "\e91d";
}
&.mu-owl:before {
  content: "\e91e";
}
&.mu-source:before {
  content: "\e91f";
}
&.mu-ionic:before {
  content: "\e920";
}
&.mu-aws:before {
  content: "\e921";
}
&.mu-digiocean:before {
  content: "\e922";
}
&.mu-docker:before {
  content: "\e923";
}
&.mu-vim:before {
  content: "\e924";
}
&.mu-bitcoin:before {
  content: "\e925";
}
&.mu-language:before {
  content: "\e926";
}
&.mu-send:before {
  content: "\e927";
}
&.mu-phone:before {
  content: "\e928";
}
&.mu-instagram:before {
  content: "\e929";
}
&.mu-tag:before {
  content: "\e92a";
}
&.mu-html51:before {
  content: "\e92b";
}
&.mu-git:before {
  content: "\e92c";
}
&.mu-css31:before {
  content: "\e92d";
}
&.mu-js:before {
  content: "\e92e";
}
&.mu-npm:before {
  content: "\e92f";
}
&.mu-github:before {
  content: "\e930";
}
&.mu-linkedin:before {
  content: "\e931";
}
&.mu-chrome:before {
  content: "\e932";
}
&.mu-amazon:before {
  content: "\e933";
}
&.mu-tux:before {
  content: "\e934";
}
&.mu-windows:before {
  content: "\e935";
}
&.mu-apple:before {
  content: "\e936";
}
&.mu-cloud:before {
  content: "\e937";
}
&.mu-star:before {
  content: "\e938";
}
&.mu-half-star:before {
  content: "\e939";
}
&.mu-heart:before {
  content: "\e93a";
}
&.mu-group:before {
  content: "\e93b";
}
&.mu-lightbulb:before {
  content: "\e93c";
}
&.mu-location:before {
  content: "\e93d";
}
&.mu-filter:before {
  content: "\e93e";
}
&.mu-institute:before {
  content: "\e93f";
}
&.mu-shield:before {
  content: "\e940";
}
&.mu-map:before {
  content: "\e941";
}
&.mu-cap:before {
  content: "\e942";
}
&.mu-building:before {
  content: "\e943";
}
&.mu-list:before {
  content: "\e944";
}
&.mu-badge:before {
  content: "\e945";
}
&.mu-case:before {
  content: "\e946";
}
&.mu-folder:before {
  content: "\e947";
}
&.mu-calendar:before {
  content: "\e948";
}
&.mu-browser:before {
  content: "\e949";
}
&.mu-server:before {
  content: "\e94a";
}
&.mu-grid:before {
  content: "\e94b";
}
&.mu-list-detail:before {
  content: "\e94c";
}
&.mu-list4:before {
  content: "\e94d";
}
&.mu-cc:before {
  content: "\e94e";
}
&.mu-clock:before {
  content: "\e94f";
}
&.mu-earth:before {
  content: "\e950";
}
&.mu-spinner:before {
  content: "\e951";
}
&.mu-cog:before {
  content: "\e952";
}
&.mu-cogs:before {
  content: "\e953";
}
&.mu-gears:before {
  content: "\e953";
}
&.mu-search:before {
  content: "\e954";
}
}
