\:host
  position: absolute
  width: 100%
  height: 100%
  .me
    position: absolute
    bottom: 50px
    left: 100px
    width: 200px
    height: 360px
  .highlight
    position: absolute
    right: 20%
    top: 30%
    .main
      font-size: 36px
      font-weight: bold
      color: var(--c-primary-10)
    .secondary
      font-size: 28px
      color: var(--c-primary-20)
    .callme
      padding-left: 30px
      font-size: 20px
      font-style: italic
      color: var(--c-secondary-20)
    .status, .seeking
      margin: 15px 0
      color: var(--c-black-70)
