<div class='me'></div>

<div class='highlight'>
  <div class='name' *ngIf='name.primary'>
    <span class='main'> {{ name.primary }} </span>
    <span class='secondary'> {{ text.aka }} {{ name.secondary }} </span>
    <div class='callme'> {{ text.callme }} ... {{ name.callme }} </div>
  </div>
  <div class='status'> {{ text.currentlyIm }} {{ data.status }} </div>
  <div class='seeking'> {{ text.seekingFor }} {{ seeking }} </div>
</div>

<div class='contacts'>
  <a [href]='c.url' [title]='c.title' class='icon' *ngFor='let c of contacts'>
    <!-- <ooo-icon [name]='c.icon'></ooo-icon> -->
  </a>
</div>
