/* You can add global styles to this file, and also import other style files */

@import 'normalize.css'
@import 'assets/_vars'

body, html
  width: 100%
  height: 100%

body
  background: var(--c-black-10)
