\:host
  color: red
  padding: 72px
  height: 100%
  display: grid
  grid-template-columns: 100%
  grid-template-rows: 72px auto
  align-items: center
  box-sizing: border-box
  h2
    margin: 0
    font-size: 42px
    font-weight: var(--fw-bolder)
  .items
    height: 100%
    width: 100%
    display: flex
    flex-flow: column
    justify-content: space-evenly
  .item
    display: block
    margin: 0 30px 20px
    ck-org
      font-weight: var(--fw-bold)
      font-size: 28px
    ck-period
      padding: 10px 0
    .college
      font-size: 22px

